@{
    ViewBag.Title = "Overview";
}

@section head
{
    <meta name="description" content="Our pizzas are made with the best ingredients you can find - order fresh and cheap pizzas now!">
    <meta name="keywords" content="home, page, description, information, restaurant, info, logo, welcome, pizza yanna, yanna, yana">
    <meta name="author" content="Simeon Mihailov">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.pizza-yanna.somee.com">
    <meta property="og:title" content="Pizza Yanna - The Best Pizza in Sofia">
    <meta property="og:image" content="http://www.pizza-yanna.somee.com/Design/Logo.png">
    <meta property="og:description" content="Our pizzas are made with the best ingredients you can find - order fresh and cheap pizzas now!">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow" />
    <meta name="distribution" content="global" />
}

<br />
<div>
    <center>
        <strong style="font-size: 36px;">Welcome</strong>
    </center>
</div>
<br />
<div>
    <center>
        <img style="width:250px; height:250px;" itemscope itemtype="http://schema.org/ImageObject" src="@Url.Content("~/Design/Logo.png")" alt="Pizza Yanna Site Logo" typeof="image/*" />
    </center>
</div>
<br />
<div>
    <center>
        <em>
            <strong>This project was started in my third year studying Informatics at New Bulgarian University. The goal was to create a fully functional online pizza ordering system.</strong>
        </em>
    </center>
</div>
<br />
<div>
    <center>
        <em>
            <strong>At the top is the navigation bar from which you can enter different menus and functions. If you are on mobile then you will see a sandwich button instead.</strong>
        </em>
    </center>
</div>
<br />
<div>
    <center>
        <em>
            <strong>Users who are not logged in are able to view the register, login, forgot password, home, pizzas, drinks, desserts, about, contacts and terms & conditions pages.</strong>
        </em>
    </center>
</div>
<br />
<div>
    <center>
        <em>
            <strong>Logged in users can order any available product and they can create their own custom version of any available pizza by adding or removing ingredients at will.</strong>
        </em>
    </center>
</div>
<br />
<div>
    <center>
        <em>
            <strong>Users' orders and order history are linked to their accounts so even if they exit the website their orders will still be in their cart the next time they login.</strong>
        </em>
    </center>
</div>
<br />
<div>
    <center>
        <em>
            <strong>Users can easily order again the same products which they have previously ordered with the exception of custom pizzas from the order history page.</strong>
        </em>
    </center>
</div>
<br />
<div>
    <center>
        <em>
            <strong>Promo codes only apply to certain products as specified when they were created and all have an expiration date on which they automatically get deleted.</strong>
        </em>
    </center>
</div>
<br />
<div>
    <center>
        <em>
            <strong>Administrators can manage ingredients, recipes, pizzas, drinks, desserts and promo codes. Adding administrators is done in the manage users page of the admin panel.</strong>
        </em>
    </center>
</div>
<br />
<div>
    <center>
        <em>
            <strong>Administrators can view different statistics for the service such as number and type of orders in a given time and date interval as well as all delivery addresses.</strong>
        </em>
    </center>
</div>
<br />
<div>
    <center>
        <em>
            <strong>The original version of the website made in 2019 only had the ingredients, recipes, pizzas and users functionality along with the corresponding admin panel actions.</strong>
        </em>
    </center>
</div>