@{
    ViewBag.Title = "Not Found";
}

@section head
{
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow" />
    <meta name="distribution" content="global" />
}

<h2>Not Found</h2>
<hr />

<div class="container text-success" style="text-align: center;">
    The page you are trying to access does not exist!
</div>