@{
    ViewBag.Title = "Terms & Conditions";
}

@section head
{
    <meta name="description" content="Not sure if something is legal? Feel free to read our terms and conditions below.">
    <meta name="keywords" content="term, condition, terms, conditions, terms and conditions, rules, rule, information, info">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.pizza-yanna.somee.com/terms-and-conditions">
    <meta property="og:title" content="Terms & Conditions">
    <meta property="og:image" content="http://www.pizza-yanna.somee.com/Design/Logo.png">
    <meta property="og:description" content="Not sure if something is legal? Feel free to read our terms and conditions below.">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow" />
    <meta name="distribution" content="global" />
}

<h2>Terms & Conditions</h2>
<hr />

<p>
    <strong>1. SCOPE / GENERAL</strong><br />
    The service provider of this website is Pizza Yanna.<br /><br />
    Address:<br />
    <address itemscope itemtype="http://schema.org/PostalAddress">
        Pizza Yanna<br />
        <span itemprop="location">Sofia, Bulgaria</span><br />
        <abbr title="Phone">Tel:</abbr>
        <span itemprop="telephone">+359-98052-6399</span><br />
        <span itemprop="email">E-mail: <a href="mailto:support@pizza-yanna.somee.com">support@pizza-yanna.somee.com</a></span><br />
    </address>
    President of management: Simeon Mihailov<br /><br />
    Pizza Yanna services are restricted to the territories of Bulgaria. The range of products on offer may differ slightly depending on the location of the store. These Terms and Conditions apply to all Pizza Yanna services in Bulgaria.
    <br /><br /><br />
    <strong>2. REGISTRATION and ORDER PLACEMENT</strong><br />
    <em>2.1. Registration</em><br />
    Only legally competent persons may register with the online shop. Registration is free of charge. No entitlement exists for admission to the online shop. The data required for registration that are provided by the customer, must be complete and accurate. The customer is responsible for updating their own data.
    <br /><br />
    <em>2.2. Order placement / contractual relationship</em><br />
    Online orders must be placed via the order page. Pizza Yanna may decide for any reason whatsoever not to accept an order and to refuse to confirm it. In placing an order, the customer confirms the accuracy of all the information they provide.
    <br /><br />
    <em>2.3. Volume limitations</em><br />
    In all cases, Pizza Yanna reserves the right to limit the delivery quantity for particular products or, if need be, not to deliver a particular product at all.
    <br /><br />
    <em>2.4. Amending and cancelling orders</em><br />
    An order cannot be amended once it has been confirmed.
    <br /><br />
    <em>2.5. Incomplete order fulfillment</em><br />
    Pizza Yanna’s primary objective is to deliver all products ordered in the right quantity and to a high quality standard. In exceptional cases for various reasons, however, insufficient products may be available or it may not be possible to release a product. If products are unavailable at the time of delivery, they are not delivered later and no substitute products are delivered. The actual quantity delivered is stated on the delivery receipt. The customer is not entitled to compensation, pecuniary or in kind, in respect to quantities delivered partially or not at all. If an item is not delivered, despite being billed, the amount in question will be credited to the customer. No subsequent delivery will be made, and the customer is not entitled to claim compensation.
    <br /><br /><br />
    <strong>3. DELIVERY</strong><br />
    <em>3.1. Order delivery</em><br />
    Orders are delivered directly to the delivery address and recipient specified by the customer. Deliveries are made by  Pizza Yanna’s delivery service. Orders will be delivered to the front door of private residences (as far as accessible) or the reception desk of business customers.
    <br /><br />
    <em>3.2. Delivery times and adherence to delivery periods</em><br />
    Pizza Yanna makes every effort to adhere to the delivery periods. However, all delivery times specified by Pizza Yanna are for guidance purposes only. If a delivery period is not complied with, the customer is not entitled to withdraw from the contract or to receive compensation. Should Pizza Yanna not be able to deliver an order, there is no obligation to carry out the delivery. The customer is not thereby entitled to compensation.
    <br /><br />
    <em>3.3. Delivery charges</em><br />
    The delivery is free of charge.
    <br /><br />
    <em>3.4. Cancellation of a delivery</em><br />
    Pizza Yanna aims to hand the order over to the customer personally. If, for reasons beyond Pizza Yanna’s control - such as an incorrect delivery address, the recipient's absence, lack of an access, bad weather or road condition, or similar, it should prove impossible or possible only with great difficulty, to carry out the delivery successfully, Pizza Yanna is entitled to cancel the order. In this event, the customer is not entitled to compensation, pecuniary or in kind.
    <br /><br /><br />
    <strong>4. PRICES and PAYMENT</strong><br />
    <em>4.1. Prices</em><br />
    All prices are quoted in Bulgarian Lev, including VAT at the applicable rate. The prices charged are those displayed on the www.pizza-yanna.somee.com website at the time of the order. Regional differences may occur.
    <br /><br />
    <em>4.2. Payment methods</em><br />
    Payment of the order must be made in Bulgarian Levs. In addition to cash payment, various payment methods are available.
    Payments made via the website are made to Pizza Yanna.
    <br /><br /><br />
    <strong>5. GUARANTEE of DATA COMMUNICATION</strong><br />
    Given the current state of technology, no guarantee can be given that data communication via the Internet will be error-free and/or available at all times. Pizza Yanna therefore accepts no liability in respect to the constant, uninterrupted availability of the online site, nor for technical and electronic errors during a sales transaction, in particular for any delay in processing or accepting orders.
    <br /><br /><br />
    <strong>6. CUSTOMER SERVICE & COMPLAINTS</strong><br />
    Customer Service provides information and personal advice regarding any questions, problems or complaints about Pizza Yanna’s services.
    <br /><br /><br />
    Pizza Yanna<br />
    Customer Service<br />
    Sofia, Bulgaria<br />
    E-mail: Support@example.com<br />
    Call Center: +359-98052-6399
    <br /><br /><br />
    <strong>7. GENERAL TERMS</strong><br />
    <em>7.1. Severability clause</em><br />
    Should any provisions of these Terms and Conditions prove to be unenforceable or invalid, the validity of the remaining provisions shall remain unaffected.
    <br /><br />
    <em>7.2. Disclaimer</em><br />
    If Pizza Yanna provides links to other services, Pizza Yanna is not responsible for the content or privacy practices of these services.
    <br /><br />
    <em>7.3. Trademarks and Copyright</em><br />
    All content included on this site, such as text, graphics, button icons, images and software, is the property of Pizza Yanna and is protected by Bulgarian and international copyright laws. The content and software on this site may be used as either or both of an informational or shopping resource. Any other use, including the reproduction, modification, distribution, transmission, republication, display or performance of the content on this site is strictly prohibited. Pizza Yanna graphics, logos and trade names are trademarks of DPL and they may not be used in connection with any product or service that is not affiliated with DPL in any manner that is likely to cause confusion among customers, or in any manner that disparages or discredits Pizza Yanna.
    <br /><br />
    <em>7.4. Applicable law and jurisdiction</em><br />
    This Terms & Conditions shall be governed by and construed in accordance with the laws of Bulgaria. You agree to submit any dispute arising to the competent courts at the legal seat of Pizza Yanna in Sofia, Bulgaria.
</p>