@{
    ViewBag.Title = "Error";
}

@section head
{
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow" />
    <meta name="distribution" content="global" />
}

<h2>Error</h2>
<hr />

<div class="container text-success" style="text-align: center;">
    An error occurred while processing your request!
</div>