@{
    ViewBag.Title = "Access Denied";
}

@section head
{
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow" />
    <meta name="distribution" content="global" />
}

<h2>Access Denied</h2>
<hr />

<div class="container text-success" style="text-align: center;">
    Only admins are allowed to view this page!
</div>