@{
    ViewBag.Title = "Delete Drink";
}

@section head
{
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow" />
    <meta name="distribution" content="global" />
}

<h2>Delete Drink</h2>

<center>
    @using (Html.BeginForm("DeleteDrink", "Admin", FormMethod.Post))
    {
        <hr />
        <div class="form-group">
            <div class="text-success">
                @(ViewBag.Message)&nbsp;
            </div>
        </div>
        <hr />
        <div class="form-horizontal" itemscope itemtype="http://schema.org/ItemList">
            <label>Choose a drink to delete!</label>
            <br />
            @using PizzaYanna.Models;
            @{
                List<SelectListItem> drinksList = new List<SelectListItem>();
                using (DBEntities de = new DBEntities())
                {
                    foreach (Drink drink in de.Drinks.OrderBy(a => a.DrinkName))
                    {
                        drinksList.Add(new SelectListItem
                        {
                            Text = drink.DrinkName + " - " + drink.DrinkSize + " - " + String.Format("{0:0.00}", drink.DrinkPrice) + " BGN",
                            Value = drink.DrinkName + " - " + drink.DrinkSize
                        });
                    }
                    @Html.DropDownList("DrinksList", drinksList, "-- Select Drink --", new { @class = "form-control", @required = "required" })
                }
            }
            <br />
            <div class="form-group">
                <input type="submit" value="Delete Drink" class="btn btn-success" />
            </div>
        </div>
    }
</center>