@{
    ViewBag.Title = "Forgot Password";
}

@section head
{
    <meta name="description" content="Forgot your password? No worries.">
    <meta name="keywords" content="pass, password, forgot, recover, change, new, get, request, receive, old, confirm">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.pizza-yanna.somee.com/forgot-password">
    <meta property="og:title" content="Forgot Password">
    <meta property="og:image" content="http://www.pizza-yanna.somee.com/Design/Logo.png">
    <meta property="og:description" content="Forgot your password? No worries.">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow" />
    <meta name="distribution" content="global" />
}

<h2>Forgot Password</h2>

<hr />
<div class="container text-success" style="text-align: center;">
    @ViewBag.Message&nbsp;
</div>
<hr />

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-10" itemprop="email">
                <label class="control-label cold-md-2">Email</label>
                @Html.TextBox("EmailID", "", new { @class = "form-control", @required = "required", @pattern = "^[A-Za-z0-9.-]*[@][A-Za-z.-]*[.][A-Za-z.-]+" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-0 col-md-10">
                <input type="submit" value="Submit" class="btn btn-success" />
                <input type="button" value="Login" class="btn btn-default" onclick="location.href='@Url.Action("Login", "User")';" />
            </div>
        </div>
    </div>
}

@section Scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}